[2017-04-21 11:52] povils opened #3 "Whitelist functions"
Create an option ``ignore-func`` (comma separted) which will ignore functions in code analysis when using 'argument' extension.
Example:
[code]

[2017-04-22 10:04] povils opened #7 "Exclude specific files"
Make an option ``--exclude-file`` (multiple) which will exclude specific files from code analysis.

[2017-04-22 15:47] povils commented on #3
Solved: https://github.com/povils/phpmnd/pull/8

[2017-04-22 15:47] #3 closed

[2017-04-25 12:37] povils commented on #7
Solved: https://github.com/povils/phpmnd/pull/10

[2017-04-25 12:37] #7 closed

[2017-04-30 22:34] padraic opened #12 "Extensions...many words, much typing"
Just a quick question on whether having an "all" extensions option would be appropriate, or is there a deliberate choice to make that slightly hard (e.g. users not understanding it's not necessarily a good idea as Step 1).

[2017-05-01 17:14] Asera opened #13 "Possible constants hinting"
I thought about implementing of showing possible constants for magic numbers and strings. I will not mention strings below, as I think the principles for numbers and strings are similar. Below I will describe possible interface implementation and some thougts about probability of constants hinting.
Below is the example of an interface implementation for console output:

[code]

Constant hinting:
I

[2017-05-01 17:40] povils commented on #12
@padraic thanks for suggestion :)
After some thinking about it I believe 'all' extension is a valid use case. Thus I'll implement it soon :)

[2017-05-01 17:55] povils commented on #13
@Asera thank for suggestion :)
To be honest I was thinking about this feature from beginning. With many things I agree. About 1 group:
And what do you think about constants that are not in you project but they are as your dependency(in your vendor).
About second one yes it is practically impossible. But I think there are numbers where we could probable hint. For example: 404 -> HTTP_NOT_FOUND, 200

[2017-05-01 18:39] Asera commented on #13
First group
I think all the constants that can be extracted from user source files including vendor folder must be indexed.
Also PHP itself has some constants and I saw some cases when magic numbers were PHP predefined constants.

Second group
We could make hints for common and widespread numbers. I was thinking about custom user dictionary for magic numbers, but i found it useless as all the cons

[2017-05-02 10:20] ravage84 commented on #12
What about files without extensions? How would they be treated. (Not that having PHP files with no extension would be a good idea anyway...)

[2017-05-02 12:42] povils commented on #12
This issue has nothing to do with file extensions.

[2017-05-02 16:05] ravage84 opened #15 "Provide a PHAR"
While it is nice to be able to require phpmnd through Composer, it would be even better to have it as a downloadable PHAR file.

Like:
- [PHPUnit](https://phpunit.de/)
- [PHPMD](https://phpmd.org/)
- [Pdepend](https://pdepend.org/)

[2017-05-02 16:12] ravage84 opened #16 "Provide File Extension CLI parameter"
It would be nice to be able to define which files get checked by providing a comma separated list of file extensions.

That could look like:

[code]

The above would check files with the following file extension:

- php
- php5
- ctp
- bla.foo

This is relevant for every PHP project that has more than just the typical ``.php`` files.
For example, CakePHP has template files with the ``.ctp`` extensi

[2017-05-02 16:13] ravage84 commented on #16
PHPMD, for example has a ``--suffixes`` CLI parameter:

https://phpmd.org/documentation/index.html

[2017-05-02 16:32] ravage84 opened #17 "Informational Website"
I guess the reach and proliferation of phpmnd could benefit from having a simple but sufficient informational website. At best under a simple domain such as phpmnd.org.

Like:
- [PHPMD](https://phpmd.org/)
- [Pdepend](https://pdepend.org/)
- [PHPUnit](https://phpunit.de/)

This website should contain the most important documentation (or link to it, if held externally, e.g. on readthedocs) and coul

[2017-05-02 16:38] ravage84 opened #18 "CLI Usage GIF"
It would be nice to have a GIF of a usage example.

Like [those](https://www.google.com/search?q=cli+gif+php&tbm=isch).

Such a GIF could be added to the info website from #17.

[2017-05-02 16:44] ravage84 opened #19 "Setup complete documentation"
Especially if this tools becomes bigger and gets more features, it would benefit from having a complete documentation.
This documentation should not live in the [README.md](README.md), as it would bloat it over time.

Such a documentation could live in an informational website (#17), on an external host such as [Read the Docs](https://readthedocs.org/) or simply as a collection of linked Markdown

[2017-05-02 16:50] ravage84 opened #20 "Add a contribution guide"
A contribution guide could help the potential contributors to create pull requests and issues in a quality the project expects.

For example:
https://github.com/thephpleague/skeleton/blob/master/CONTRIBUTING.md

- Says something about SemVer
- Which coding style to use

[2017-05-02 17:02] ravage84 opened #22 "State System Requirements"
Though it will be enforced through Composer, it would be better to clearly state the system requirements.

What OSes are generally supported? I Assume at least:
- Windows
- Linux

What PHP versions are supported?
According to https://github.com/povils/phpmnd/blob/v1.0.3/composer.json#L21 it would be PHP 5.6.+ incl. 7.x, right now.

Are there any PHP extensions needed? It seems not, at the moment.

[2017-05-02 17:02] ravage84 commented on #22
These requirements should live where the installation is explained. See #19.

[2017-05-02 17:04] ravage84 opened #23 "Move to phpmnd namespace"
If you plan to support & maintain this project over many years, it could be beneficial to move this tool away from your personal namespace/GitHub user to a phpmnd specific namespace/GitHub organisation.

This could also lower the barriers for others to co-maintain it (if that's an option anyway).

[2017-05-02 17:08] ravage84 opened #24 "Add AppVeyor CI integration"
To contrinuiously test the tool on Windows, you could use [AppVeyor](url).

For example like [PHPUnit](https://ci.appveyor.com/project/sebastianbergmann/phpunit) has [done](https://github.com/sebastianbergmann/phpunit/blob/master/appveyor.yml).

[2017-05-02 17:10] ravage84 opened #25 "Integrate with Stickler CI"
Integrate with [Stickler CI](https://stickler-ci.com/) to check and enforce the coding style of your choice (PSR-2, i believe).

[2017-05-02 17:17] ravage84 opened #27 "Add a change log"
Keep a change log, it's best practicse nowadays:

http://keepachangelog.com/en/0.3.0/

For example:
https://github.com/thephpleague/skeleton/blob/master/CHANGELOG.md

[2017-05-02 18:25] ravage84 opened #31 "Support for other Report Output Formats"
[PHP Mess Detector](https://phpmd.org/documentation/index.html) and [PHP Code Sniffer](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Reporting) support various report output formats.

Supporting certain formats could make the check results of phpmnd non-human processable.

For example, this way, a continuous integration system/service like Scrutinizer could use the results in its application.

[2017-05-02 18:31] raphaelstolt opened #32 "Exit with an evaluable return code"
Currently a command run with n magic numbers found evaluates to 0 via `echo $?`. This should prolly should return a non zero exit code for usage in CI tooling.

[2017-05-02 18:36] raphaelstolt commented on #25
Would opt for the utilisation of PHP CodeSniffer or PHP Coding Standards Fixer to achieve this during Travis CI builds.

[2017-05-02 20:19] ravage84 commented on #25
The visibility is just not the same.

[2017-05-02 21:26] padraic commented on #23
To chime in, I just migrated Mockery and Humbug over to organisations. The upside is that it's very simple. Just name the organisation after phpmnd, add a single "team" with commit access that you can add members to (you would retain full administrative control - it's your baby afterall), update Packagist URI, and a few other odds and ends. A few minutes and the project is parcelled into a tidy pa

[2017-05-02 21:28] padraic commented on #23
Hehe...I just realised that I am not a "dependable person" in this scenario :grinning:. I take some pretty long vacations!

[2017-05-02 23:19] ravage84 commented on #25
Alternatives are:
- https://styleci.io/
- https://nitpick-ci.com/#pricing

Still recommend Stickler CI, though.

[2017-05-02 23:23] padraic commented on #25
I haven't used Stickler, but StyleCI works fairly well. Even allows you to automatically generate a PR back to the source branch for fixes. That said, most style fixes should be relatively simple so any option would be fine, so long as there's something keeping an eye on it.

[2017-05-03 08:32] padraic commented on #32
Actually thinking about it, is detecting magic numbers a signal to fail a build? This is a bit like code coverage or mutation testing - while it might sound tempting to require perfection, in reality it's probably not achievable? The main target in a CI would be to report a decrease or increase in magic numbers as a relative measure of improvement (or not), so you would expect PHPMND to exit with

[2017-05-03 08:34] padraic commented on #31
@povils is probably aware of any MND tooling outside of PHP. They may already have established reporting formats in use that could be adopted (even better if already integrated with a CI somewhere).

[2017-05-03 08:43] padraic commented on #17
Without incurring additional costs, a PHPMND organisation could claim a reasonable URI on Github Pages, and host a simple static markdown site. A custom domain can always be added down the road.

[2017-05-03 10:16] raphaelstolt commented on #32
One of the answers PHPMD should provide is if there're magic numbers present in a code base (or more granular in a commit) or not; which should IMHO be reflectable in an exit code.

For relative measurements like a decrease or increase in magic numbers a seperate command or an option e.g. `--exit-on-detection=false`(1) or `--dry-run`(2) like used by the [PHP CS Fixer](https://github.com/FriendsOfP

[2017-05-03 10:58] bcremer commented on #32
One can always override the exit code using pipes e.G `vendor/bin/phpmnd || true` if the exit code should not be evaluated by the calling process. So in my opinion phpmnd should return a non zero exit code and individuals can opt out without the need for extra command line options.

[2017-05-03 11:33] padraic commented on #32
I'm running against the wind here obviously, so I checked elsewhere and PHPMD (https://phpmd.org/documentation/index.html) does actually exit with a **non-zero** on violations and offer an `--ignore-violations-on-exit` argument to exit with zero. That's the closest equivalent style of detection to PHPMND I can think of, so I retract my argument.

That said, I find it really hard to imagine a scena

[2017-05-03 13:21] povils commented on #32
Thanks guys for discussion. As @padraic  said,  in most cases it is very hard to have codebase without magic numbers and without having a lot of exceptions. I would suggest the same option as @raphaelstolt  suggester ``--exit-on-detection`` or  ``--non-zero-exit-on-violation`` or something. Because in most cases you will find magic numbers, so by default I believe it should be kept as it is now :)

[2017-05-03 19:28] #15 closed

[2017-05-03 19:29] #24 closed

[2017-05-03 20:34] povils commented on #16
#42

[2017-05-03 20:37] povils commented on #13
I dont think so that vendor should be included. Firstly it would increase analysis time dramatically. Secondly it is very hard to determine is the constant was found in direct dependency.

[2017-05-03 20:38] #20 closed

[2017-05-04 10:06] #16 closed

[2017-05-04 10:07] povils commented on #18
Would be great to have a label "nice to have" :D

[2017-05-04 10:08] povils commented on #25
I really dont want to integrate so many xCI. Lets keep them as few as possible.

[2017-05-04 10:09] povils commented on #27
Cant argue with that.

[2017-05-04 10:11] ravage84 commented on #18
You can create labels yourself.
https://github.com/povils/phpmnd/labels

[2017-05-04 10:11] ravage84 commented on #25
Sure, your choice.

[2017-05-04 10:12] ravage84 commented on #27
Keeping a change log in a inhouse-project just helped me find the root of an issue. It's really worth-while!

[2017-05-04 10:12] padraic commented on #18
@povils I suggest not to create 100 labels. I know the temptation! Resist! 😀

[2017-05-04 10:21] povils commented on #18
@ravage84 thanks! :)
@padraic i'll try to not :D

[2017-05-04 10:23] #25 closed

[2017-05-04 10:32] povils commented on #27
But dont github releases basically reflect  changelog?( except unreleased features)
I'm looking to at https://github.com/skywinder/github-changelog-generator

[2017-05-04 10:44] padraic commented on #27
I think where the problem creeps in is that PR and issue titles don't always explain what changed very well (though they are much better than a commit log dump). They are not always relevant too. For example, PRs on PHPUnit or CI changes aren't relevant to end users. So you could perhaps automatically generate as Step 1, but edit as Step 2?

[2017-05-04 17:06] ravage84 commented on #27
Neither the commit history of a VCS nor the issue list in an issue tracker replaces a **manually** crafted change log. A change log cannot be automated, otherwise it is just a somewhat fancy version of the commit history. Yes, a change log means work, but a well-made change log has its benefits. Mostly for the users of a library/tool but sometimes even for the developers.

There are several types

[2017-05-07 01:13] vpassapera opened #45 "require_once for vendor/autoload fails on link from directory."
https://github.com/povils/phpmnd/commit/df5c2c541e62db63fb7a34afd0aa489f92ddbfd3#diff-743c6cb860ef35ef01f8d2b848a2cb88L18

breaks the command on Centos 7 installation with composer. Previous version worked.

[2017-05-07 01:40] padraic commented on #45
The commit left out the autoload path `__DIR__ . '/../../autoload.php'`, where the command is run from `vendor/bin`. I assume @vpassapera has phpmnd installed as a composer dependency?

[2017-05-07 14:13] #45 closed

[2017-05-07 21:21] povils commented on #12
#47

[2017-05-08 13:53] #12 closed

[2017-05-10 18:56] #27 closed

[2017-05-11 20:58] povils commented on #13
#49

[2017-05-12 21:07] #13 closed

[2017-05-12 22:11] povils commented on #32
#51

[2017-05-12 23:47] raphaelstolt opened #52 "Support configuration via configuration file"
Since the number of options keeps growing it would be considerable to allow their configuration via a dedicated configuration file. Whether this happens via a programmtic approach, like [done](https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/src/ConfigInterface.php) by the PHP Coding Standards Fixer or via a configuration format of choice e.g. `yaml`, `json` or `ini` is up to you.

[2017-05-13 20:34] #32 closed

[2017-05-16 19:59] padraic opened #54 "Version noted in master"
Console\Application version reads `1.1.0`, current release is `1.1.1`. Not anything critical, obviously :grinning: . Just noticed it merging master into the phar self-update work (where it would impact assuming the updater stuff is merged).

[2017-05-16 20:04] #54 closed

[2017-06-13 22:09] vpassapera commented on #52
Maybe I can take a look at this and implement something.

I guess I'll start by implementing a yaml configuration, and then move on from there?

Would that be acceptable? (e.g. a task for each type of configuration format)

[2017-06-16 10:48] povils commented on #52
Hey, thanks for interest :)
I'm not sure what do you mean by each type of configuration format?:)
YAML is more than enough

[2017-07-31 07:56] exussum12 opened #55 "Missing magic numbers"
Given the following code

<?php
sprintf('%d', 5000);

Why is the 5000 not picked up as a magic number ?

[2017-07-31 08:02] exussum12 commented on #55
I read the docs ignore this

[2017-07-31 08:02] #55 closed

[2017-08-14 12:30] borNfreee commented on #15
Unfortunately, there is still no PHAR distribution. Should be reopened

[2017-08-24 12:00] IlyaSavich opened #57 "Negative numbers"
Good day, I get an issue for such case. Package doesn't recognize this like a magic number
[code]
Interesting that with the second example works fine
[code]
As I understand it's bug or I'm wrong

[2017-08-24 12:29] povils commented on #57
Hey,
Thanks for the issue!
Apparently, you are correct, it is a bug:)
Do you want to contribute? And this one? :)

Regards

[2017-10-03 11:38] richardhughes opened #59 "Filter out checks for Test files"
It would be nice to have a way of passing an argument to the command which allows you to filter out file names with a given string.

For example: My tests are always in the format of `****Test.php` and if we could filter out these from the checks it would be good.

I don't think the exclude directory argument would be suitable due to the location of all our test files (Tests are alongside the code

[2017-10-03 15:52] povils commented on #59
Hey,
Thanks for the question :)
Sorry, but could you confirm that something like: vendor/bin/phpmnd src --exclude-file=*Test.php

Regards

[2017-10-03 18:20] richardhughes commented on #59
Yeah I think that would work, I had a dig around in the Symphony docs and found another solution, I used `--exclude-path=Test` but i'll try that tomorrow. Thanks, I'll close this for now and comment back tomorrow on whether that works.

[2017-10-03 18:20] #59 closed

[2017-10-04 08:08] richardhughes commented on #59
@povils Yeah that works. Thanks :+1:

[2018-01-16 09:26] dzschille opened #62 "Symfony 4 compatibility"
I have a Symfony 4 project where i like to install _phpmnd_ locally, i get the following error:

[code]
I ran `composer update` but it changed nothing.

[2018-01-16 09:43] bcremer commented on #62
You have to widen the symfony/* constrains in composer.json. See https://github.com/povils/phpmnd/pull/63/files.

[2018-01-16 09:53] dzschille commented on #62
Thanks @bcremer . I will wait for the merge.

[2018-01-17 14:16] #62 closed

[2018-01-17 15:17] dzschille commented on #62
Thanks!
`composer require --dev povils/phpmnd:dev-master`
worked well.

[2018-02-02 09:16] richardhughes opened #64 "PHPUnit 7 wrong dependencies"
Get the following message when trying to install PHPUnit 7 with this package.

[code]

Could we update the dependency to php-timer ^2.0? I'll submit a PR for this later tonight

[2018-02-03 01:22] juliangut commented on #64
Yep, facing that problem just now

dependency should be "phpunit/php-timer": "^1.0|^2.0"

[2018-02-03 23:09] exussum12 commented on #57
This looks to be resolved now so the issue can be closed ?

[2018-03-06 09:02] EvgenyOrekhov opened #71 "'0' and '1' (as strings) are considered to be magic numbers"
The documentation says

But when I use the `--include-numeric-string` option I get warnings for strings `'0'` and `'1'`:

[code]

Shouldn't `'0'` and `'1'` be considered as non-magic?

PHPMND version: b72046929c0259816cf14a18cad8a960ef09c655

[2018-03-14 08:47] povils commented on #71
Hey, thanks for the issue.  Yes, I agree, it should not.

[2018-03-14 08:48] #57 closed

[2018-03-17 13:46] vyshkant opened #72 "Add PHP-Parser 4 support"
PHP-Parser 4.0.0 has been released 17 days ago.

When I'm trying to use `PHP Magic Number Detector` and `PHP-Parser 4` together, I run into error:

[code]

[2018-03-17 20:37] povils commented on #72
Solved with release 2.0.0

[2018-03-17 20:37] #72 closed

[2018-03-17 20:37] povils commented on #71
Solved with release 2.0.0

[2018-03-17 20:37] #71 closed

[2018-03-17 20:38] povils commented on #64
Solved with release 2.0.0

[2018-03-17 20:38] #64 closed

[2018-03-17 20:38] povils commented on #31
Solved with release 2.0.0

[2018-03-17 20:38] #31 closed

[2018-05-14 09:57] jakzal opened #73 "Consider publishing a phar with releases"
I'm maintaining a [docker image with qa tools](https://github.com/jakzal/phpqa) which phpmnd is part of.

I'm trying to limit number of dependencies installed with "composer global require" to prevent conflicts between tools. Having a phar to download would be really helpful.

[2018-05-23 07:30] povils commented on #73
Hey, thanks for the issue. yeah it makes sense

[2018-05-23 12:33] jakzal commented on #73
Feature is no longer urgent to me, as I'm planning to introduce the [composer-bin-plugin](https://github.com/bamarni/composer-bin-plugin) in phpqa. It should help solving the conflicts problem.

A phar archive could still be beneficial to others though.

[2018-06-17 10:12] patrickjahns commented on #73
Joining the conversation - as I would also appreciate a phar release.

Main reasoning for me is, that our large code bases currently supports php5.6 - php7.2. To be able to solve this we required to set the `platform` to `php 5.6` in `composer.json`. Thus we are not able to require the tool via composer.

However - our CI environment ( as well as some testing environments) are running in php7.1 -

[2018-06-18 08:17] exussum12 opened #74 "Allow option for running files from text file / stdin"
On large code bases phpmnd can be very slow. Allow a list of files to be passed in as text / stdin.

This file would usually be generated from your VCS software

[2018-06-18 20:57] jakzal commented on #73
@patrickjahns in the meantime take a look at the [composer-bin-plugin](https://github.com/bamarni/composer-bin-plugin). You could use it to install any composer tool global in isolation.

[2018-10-04 08:46] #74 closed

[2018-10-05 22:36] exussum12 commented on #73
Added a PR #77  which allows a phar to be generated

[2018-10-11 12:32] koromerzhin opened #79 "jakub-onderka/php-console-highlighter outdated"
phpmnd v2.0.0 requires jakub-onderka/php-console-highlighter v0.3.2 but this library is outdated. 0.4 version is 12 days ago

[2018-10-18 12:22] exussum12 opened #80 "Tag new version"
Can v2.1.0 be released ? To get the whitelist files

[2018-10-31 15:52] #18 closed

[2018-11-13 13:05] #73 closed

[2018-12-19 14:41] paslandau opened #82 "Support ignore annotations"
Hey,

I'm currently running mnd on a larger codebase (~1k classes) and noticed that the tools reports some warnings that I would not consider a problem in the specific context. This clutters the output and prevents a 0 exit code.

It would be great if we could introduce something like
https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-parts-of-a-file
to mark certain exceptio

[2018-12-19 18:15] exussum12 commented on #82
We use phpmnd on older / larger code bases with https://github.com/exussum12/coverageChecker
This solves a lot of legacy issues by only checking the changed code.

The specific example you give there is a magic number no matter how you look at it. Why is it 1000 ? That needs to be explained. There will be a reason for it being 1000. Which can be explained much better in code.

`$arg = $arg ?? self

[2018-12-20 13:07] paslandau commented on #82
I get your point, I should have used a better example.

Actually, it's a buffer size for an import process. There is no "business logic" for that value. There is imho no inherent value in "extracting" that number in constant, e.g.

[code]
VS
[code]
Does not make the code any better / more readable.

Regardless it's really not about that specific use case.

There will always be "edgecases" and "opi

[2018-12-20 19:25] exussum12 opened #83 "Check names for numeric values"
Eg self::SOMETHING_SIX = 6; should be disallowed

Will need to work out languages but default to English

[2018-12-21 12:46] exussum12 commented on #82
Personally I don't have a use case for this

its the difference between
[code]
(which actually should be)
its the difference between
[code]

and

[code]

It seems more effort to mark it as not a magic number than to just resolve the magic number.

Most other tools do have it though, I would be interested to see the usage of these ignore statements

[2018-12-21 13:46] paslandau commented on #82
Again - here we just disagree what we see as a magic number. Which is completely fine.
But I currently do not have the "choice" to to go with my definition - that's the point.

Example: CodeSniffer with Line length rule (Generic.Files.LineLength)
It's totally reasonable to allow only a certain line length.
But sometimes I'm a couple of characters "above" the limit, e.g.

[code]
Sure, I could do st

[2018-12-24 10:58] povils commented on #82
Hey everyone :)
My stand is that it makes more sense to extract a number to constat than put these ugly comments.
But again I don't see a problem why we couldn't provide a mean to ignore these numbers.
Are you want to take an ownership of this feature and implement this?
My suggestion for now:
// phpmnd:ignoreLine (ignore line below)

[2018-12-25 13:18] povils commented on #83
Hey,
Nice idea:) I wouldn't put it as strict check but more like warning/suggestion type of check:)

[2019-01-16 02:32] peter279k commented on #79
According to the `composer.json`, the `jakub-onderka/php-console-highlighter` verdion definition inside `require` block is as follows:

[code]

That means this package require `jakub-onderka/php-console-highlighter` at least `0.3.2` version.

I think we should install `0.4` version to check compatibility.

[2019-01-16 02:35] peter279k commented on #22
It needs the `System requirement` section in `README`.

And we can refer the `require` block in [composer.json](https://github.com/povils/phpmnd/blob/master/composer.json) to complete this section.

[2019-01-16 13:02] ravage84 commented on #22
Agreed.

I wouldn't do it that way. Even though writing a human readable list foces you to keep it synced, it's much more developer friendly than to force people to interpret the composer controlled requirements.

[2019-01-16 13:14] gergelypap commented on #79
+1

[2019-01-23 12:51] exussum12 opened #84 "Issue with unset"
[code]

Shows no magic numbers

[2019-01-25 17:20] #84 closed

[2019-01-26 15:09] exussum12 commented on #80
@povils  any chance of a new tag ? Few commits ahead now

[2019-01-27 17:21] povils commented on #80
Hey,
 I tagged with 2.1.0 :)
Regards

[2019-01-27 17:21] #80 closed

[2019-01-27 19:04] exussum12 commented on #82
Been thinking of this. You can use intval here it looks much than annotations. Then ignore any intval function calls. We could perhaps do that as standard ? Intval and strval could be added as default ignore parameters ?

[2019-03-04 21:52] povils commented on #79
Solved with [#88](https://github.com/povils/phpmnd/pull/88)

[2019-03-04 21:52] #79 closed

[2019-03-04 21:54] #82 closed

[2019-03-05 12:08] devinpearson opened #92 "Notice: Undefined property: PhpParser\Node\Expr\PropertyFetch::$value"
povils/phpmnd (dev-master 0471854)

$phpmnd app

phpmnd 2.1.0 by Povilas Susinskas
PHP Notice:  Undefined property: PhpParser\Node\Expr\PropertyFetch::$value in /Users/xxx/xxx/vendor/povils/phpmnd/src/Visitor/DetectorVisitor.php on line 55
PHP Stack trace:
PHP   1. {main}() /Users/xxx/xxx/vendor/povils/phpmnd/bin/phpmnd:0
PHP   2. Povils\PHPMND\Console\Application->run() /Users/xxx/xxx/vendor/povi

[2019-03-05 12:13] povils commented on #92
Thanks for reporting. Do you want to take a look?

[2019-03-05 12:33] devinpearson commented on #92
Ive looked in to it a bit so far.

Added
`if (!isset($scalar->value)) {
                    $this->fileReport->addEntry($scalar->getLine(), 999);
                    return null;
                }`
found that the issue was the following line:
 (float) -$transaction->amount_in_usd,

[2019-03-05 12:51] devinpearson commented on #92
So its just when its a "-" is added in front of the variable that it cause this.
`$a = 0-$transaction->amount_in_usd` doesnt cause the error
`$b = -$transaction->amount_in_usd` does

[2019-05-16 19:40] dariuszmaciejewski opened #95 "Release a new version"
Hello. I see some nice features in the master branch, however the last release is pretty old. Are you going to release a new version soon?

[2019-05-31 19:15] alecrabbit commented on #95
Hi! I'll agree it's time for a new release. I couldn't install version 2.1 cause of version collision with php-console-highlighter: I have 0.4, but release 2.1 is demanding 0.3.2

[2019-06-14 12:35] PauchardThomas opened #96 "Not working on windows"
## Not working on Windows (10)

### Steps to reproduce

1. Downloaded [PHPMND 2.1.0 zip](https://github.com/povils/phpmnd/archive/v2.1.0.zip)
2. Convert zip to phar using https://phar.scer.io/
3. type `php phpmnd.phar  mysrcpath`
4. Nothing happened

[2019-06-16 18:50] exussum12 commented on #96
That phar converter won't work. There is a createPhar script in the bin directory.

If you run that you should get a useable phar

[2019-06-24 13:58] #92 closed

[2019-08-02 15:01] MarkVaughn commented on #95
@povils  Any update?

[2019-08-02 18:40] povils commented on #95
Hey, thanks for pushing it. I will try this do this Monday))

On Fri, Aug 2, 2019, 17:01 Mark <notifications@github.com> wrote:

[2019-10-23 09:52] cavo789 commented on #52
Hello

First, thank you so much for your tool ! Really useful.

Like Raphael, I would appreciate the possibility to have a configuration file (like f.i. phpmnd.json) where I can define, for instance (my need), which folders / files should be ignored.

Why ? Because I'm using a global phpmnd.cmd (under Windows) script where I've put my logic for all my repositories and, in any of my repo, I've crea

[2019-11-05 16:54] Spudley commented on #95
Did this release happen?

[2019-11-06 00:14] MarkVaughn commented on #95
No release since january

[2019-12-03 14:12] SignpostMarv opened #98 "query re: compatibility with symfony/console:^5"
I've a general preference for using `composer require --dev` rather than using global installs/phar builds.

Are there any plans to nudge up compatibility with symfony/console, i.e. `symfony/console:^4.0|^5.0` ?

[2019-12-23 22:06] GaryJones opened #99 "Support for define() in argument extension"
[code]

That gets identified as a magic number as part of the `argument` extension.

Perhaps an allowance can be made if the magic number is the 2nd argument in a `define()` call?

[2020-01-03 06:23] exussum12 commented on #99
You can use The `--ignore-funcs=define` parameter not sure if this should be a global default though. I personally use this on an older code base but newer ones avoid using define

[2020-01-03 06:34] exussum12 commented on #98
Ideally you would use the phar for a global install. I can take a look at bumping these though

[2020-01-03 10:03] SignpostMarv commented on #98
I've a general preference for not installing things globally, which can at times get a little troublesome when upstream dependencies (like symfony/console) get updated :s

[2020-01-09 21:54] juliangut commented on #95
New release not happening @povils ?

[2020-01-12 10:32] povils commented on #95
Hey, sorry for waiting! 2.2.0 release is here :)

[2020-01-12 10:32] #95 closed

[2020-01-12 11:55] juliangut commented on #98
This would have been a great addition to v2.2.0

[2020-01-15 00:53] szepeviktor opened #100 "PHIVE distribution"
Please consider using https://phar.io/

[2020-01-15 00:54] szepeviktor commented on #100
I see you are already using box :)

[2020-03-28 15:48] badmansan commented on #98
Seems it not work.
```composer.json```
[code]

[2020-03-28 19:52] exussum12 commented on #98
run ```composer why symfony/console``` that will say what else is blocking it

[2020-03-28 21:01] badmansan commented on #98
sorry, i read

and think that it is a commit, but it was mentioned only :)

[2020-04-18 10:36] repat opened #106 "jakub-onderka/php-console-highlighter abandoned"

[2020-04-21 09:44] aaajeetee commented on #106
In https://github.com/povils/phpmnd/pull/105 I use the new package (`php-parallel-lint/php-console-highlighter`).

[2020-05-05 10:21] repat commented on #106
@povils can you update to this repo instead? :)

[2020-05-06 07:12] aaajeetee commented on #106
I think this issue can be closed because #105 is merged. Correct me if I'm wrong.

[2020-05-06 08:22] repat commented on #106
@povils @aaajeetee only if a new version is released. the current one is still 2.2.0: https://packagist.org/packages/povils/phpmnd#v2.2.0

[2020-05-06 09:30] aaajeetee commented on #106
@repat okay sure, fair point.

[2020-06-10 08:53] oallain commented on #106
Hi @povils ,

Can you make a new tag to add these changes?
It will also help me a lot.

Thank you

[2020-07-07 10:14] jacques opened #107 "Please update to support newer versions of the symfony components that are requirements"
When trying to upgrade illuminate/database to ^7.18 povils/phpmnd requires an older version of symfony/console ^4.0.  It looks like I need to remove povils/phpmnd to use a newer version of illuminate/database.

[code]

[2020-07-09 05:43] exussum12 commented on #107
You can use the phar file to avoid this, phpmnd doesn't really need to share the same dependencies as your main code

[2020-07-14 06:41] Great-Antique commented on #107
Also you can use https://github.com/bamarni/composer-bin-plugin to install tools in different folder with own `composer.json`

[2020-07-18 10:16] povils commented on #106
Hey everyone!
I release v2.3.0 :)

[2020-07-29 14:51] RichVRed opened #108 "Update Composer To Support Latest Version of php-timer"
The latest version of php-timer is 5.0.1 and thus need to update:

https://github.com/povils/phpmnd/blob/00b6170f7b7af0b7396d1117458ce6fb87a0eb8d/composer.json#L21

to:
`"phpunit/php-timer": "^2.0||^3.0||^4.0||^5.0" `

https://github.com/sebastianbergmann/php-timer
Releases: https://github.com/sebastianbergmann/php-timer/tags

[2020-08-19 21:44] exussum12 commented on #108
Im not sure phpmnd even needs to depend on that package.

[2020-09-01 09:07] web-dc commented on #108
When there'll be a new release? Right now it cannot be used with newest phpunit versions anymore.

[2020-09-17 07:35] mfn opened #114 "Any plans to provide this functionality as part of other general static analysers?"
Library looks super useful and I could not help seeing the similarity with generic approaches like phpstan/psalm provide.

Are they are any plans/desire to provide these analysis "integrate-able" as part of other tools?

thanks!

[2020-11-03 16:10] ksowa opened #118 "Syntax error when using class called `Match` in the code"
Example file:

[code]

Call:
[code]

Expected result (more or less):
[code]

Insted it returns:
[code]

More info:
[code]

[2020-11-03 16:56] kylekatarnls commented on #118
I will check that, but I guess it's because of the `match` reserved statement introduced in PHP 8 https://wiki.php.net/rfc/match_expression_v2

The native PHP function `token_get_all()` we use may already detect it.

[2020-11-03 16:59] kylekatarnls commented on #118
Actually, `T_MATCH` can only be returned in PHP 8, so I'm pretty sure you're actually running phpmd with PHP 8 and not PHP 7.4
https://3v4l.org/HWvAP

In this case, this behavior is correct as `class Match {}` is invalid in PHP 8.

[2020-11-03 17:03] ksowa commented on #118
@kylekatarnls thank you for your input.

It's not possible I use PHP 8 for that. I'm inside Docker container based on `php:7.4-fpm` image.

Would you like me to prepare an example you could run on your machine?

[2020-11-04 08:29] ksowa commented on #118
@kylekatarnls, I've prepared an example Docker environment with php:7.4-cli, where the bug can be easily reproduced.

Please take a look into https://github.com/ksowa/phpmnd-bug-reproduction

[2020-11-04 10:53] dlakomski commented on #118
The problem is probably with `nikic/php-parser` library, which is using forward-emulation by default: https://github.com/nikic/PHP-Parser/issues/715#issuecomment-697194296

[2020-11-04 11:22] ksowa commented on #118
Thanks @dlakomski!

I've created a PR which resolves this problem: https://github.com/povils/phpmnd/pull/119

[2020-12-14 10:43] mikevandiepen opened #120 "Dependency phpunit/php-timer"
The dependency phpunit/php-timer is 3 major revisions behind. It currently requires `^2.3` but the latest version is `v5.0.3`.
I'm not sure what the changes were but I doubt it is breaking.

phpunit v9.x requires phpunit/php-timer ^5.0.2.

[2021-01-25 13:17] #118 closed

[2021-01-25 14:02] szepeviktor commented on #120
Fixed in https://github.com/povils/phpmnd/blob/master/composer.json#L21

[2021-01-25 14:03] szepeviktor commented on #108
Done https://github.com/povils/phpmnd/blob/master/composer.json#L21

[2021-02-05 07:15] Aseksas opened #122 "PHP 8"
Root composer.json requires php ^8.0 but your php version (7.4.14) does not satisfy that requirement.

[2021-02-13 03:06] #108 closed

[2021-02-17 14:30] sidz commented on #122
there are 2 open PRs already:
- https://github.com/povils/phpmnd/pull/121
- https://github.com/povils/phpmnd/pull/117

[2021-02-19 13:53] sidz commented on #122
For those who are looking compatibility with PHP 8:

I forked this repo as looks like maintainer busy or stopped maintaining this project and released a new version with PHP 8 compatibility.

https://github.com/sidz/phpmnd

p.s. I'm okay to backport all future changes back to this repo or archive my folk in favor of original authors repo in case maintainer back.

[2021-02-19 14:36] maks-rafalko commented on #122
Thank you @sidz

@povils - please, please consider adding new collaborator(s) to this repo. It will eliminate issues like this. There are many developers who can help, but no one wants to support their forks.

[2021-02-19 19:24] 50bhan commented on #122
@maks-rafalko Exactly! I think many developers can help here and if @povils can't maintain this repo anymore, he can get some help from others to solve this kind of issue. No one likes to fork a repo and start to maintain it all by himself. So, please add some new collaborators.

[2021-02-22 20:33] maciejzgadzaj commented on #120
No tag though?

[2021-02-23 06:08] maks-rafalko commented on #120
@maciejzgadzaj see https://github.com/povils/phpmnd/issues/122#issuecomment-782088967

you can use `composer require phpmnd/phpmnd`

[2021-02-24 10:47] christophedebatz opened #123 "New release needed !"
Hi everybody,

Thanks for this great work.

I wondering if it would be possible to release a new minor version that embeds this commit https://github.com/povils/phpmnd/commit/310eb6c987fc37a1887bdf5399421901a9f81ee7. Actually we are forced to pull the dev-master on our Satis and it could be great to create a release instead ;-)

Thanks per advance,

[2021-02-24 16:16] maks-rafalko commented on #123
while we all are waiting for @povils:

from https://github.com/povils/phpmnd/issues/120#issuecomment-783935547

[2021-02-27 16:41] povils commented on #122
Hey! Sorry for the late involvement, recent times weren't offering a lot of free time. I will get into merging these PRs.
On collaboration side, is anyone interested to help me to keep an eye on it?

[2021-02-27 17:35] povils commented on #123
Released https://github.com/povils/phpmnd/releases/tag/v2.4.0 :)

[2021-02-27 17:38] #123 closed

[2021-02-27 19:09] szepeviktor opened #124 "Cache failure in CI"
`path: ~/.composer/cache/files` tilde is not expanded by GHA.

Please see https://github.com/ergebnis/php-library-template/blob/9f19720edb26c1ce11ea3a571cc751eb36556e7d/.github/workflows/integrate.yaml#L49-L55 - the mother of all GHA configs.

[2021-02-27 21:25] maks-rafalko commented on #122
@povils, I'm ready to be a collaborator. We use `phpmd` on daily basis on our CI, so at least for the near future, I will be interested in keeping it up to date. My colleague @sidz had to support his own fork for us, since we upgraded to PHP8.

We would like to avoid such cases and better to keep this main repo up to date.

[2021-02-28 12:05] sidz commented on #122
I'm okay to help as well.

[2021-03-12 21:16] exussum12 commented on #122
@povils  I am also happy to help out.

[2021-03-13 09:27] kubawerlos commented on #122
@exussum12 what do you want to help with? Support to PHP 8 is already added: https://github.com/povils/phpmnd/blob/v2.4.0/composer.json#L16

[2021-03-13 09:31] exussum12 commented on #122
@kubawerlos taking on the collaboration side of phpmnd

[2021-03-20 15:50] ayacoo opened #126 "Extension support for Exceptions possible?"
Hi, at first: I'm completely new to this package and I'm pleased about the possibilities! :-)

Currently I have this piece of code:

[code]

This position is found from phpmnd and apparently no extension is active here, tested with setting "all".

Is it possible and useful to add an extension for this? Or how would you handle this case?

[2021-03-24 21:01] exussum12 commented on #126
Hi :) Thanks for taking the time to submit this issue.

The argument exception would cover this. What is the command you were using to check this ?

[2021-03-25 11:41] ayacoo commented on #126
Oh, sorry, I have expressed myself in a misleading way..

In that case, I would like to _ignore_ these number. We often have such exceptions and with a timestamp we cover the error. This is legitimate for us and we don't want to replace it with $x constants ;-)

[2021-03-25 21:58] exussum12 commented on #126
You can use `--ignore-funcs` which will allow these to be wrapped in `intval(1583854980)` and not picked up.

If there's lots though I'm not sure that's useful.

I'm not sure I fully understand what it is your trying to do ? I assume your hard coding a timestamp when the exception was created (guessing at that number ?) if so wouldn't

[code]
be more expressive ?

[2021-03-25 23:08] ayacoo commented on #126
The timestamp is used as a unique code to find the expression. It could also be a random number. So the solution with intval is a smart solution.

Thanks for your answer and time!  :-)

[2021-03-25 23:08] #126 closed

[2021-06-07 09:55] vpassapera commented on #106
This is not fixed.

[2021-06-07 10:01] vpassapera commented on #106
Please release a 2.5 version officially to address this ticket.

Thank you.

[2021-08-10 14:46] sasezaki opened #128 "What is "12" in Printer\XML ?"
Hi. I have question for this line.
https://github.com/povils/phpmnd/blob/8b874f11774157d180ae6b20c339a7a0e934ccf9/src/Printer/Xml.php#L31

Why `12` added ?

[2021-08-10 23:56] sasezaki commented on #122
@povils
Please consider above candidates to collaborators.

[2021-08-11 04:10] exussum12 commented on #124
This has been resolved now

[2021-08-11 05:29] exussum12 commented on #128
Theres 1 more magic number detected as well, I will clean that up later this week

Printer/Console.php:48  Magic number: 2

Looking at the class it should be taking input from the console itself rather than just deciding whats best

[2021-08-11 08:26] szepeviktor commented on #124
Thank you. https://github.com/povils/phpmnd/commit/29109fdbac082df1762457f85835296d74fcfb06

Please reconsider using the above linked solution.

[2021-08-11 08:26] #124 closed

[2021-08-11 08:30] exussum12 commented on #124
Probably more for @povils than me. It's a bigger change than just caching the wrong path

[2021-08-11 21:07] MacFJA commented on #128
Yeah, I see absolutely no reason for this `+ 12` to be here

[2021-08-19 20:16] sidz commented on #128
I found that part a bit weird as well and refactored it in my fork. https://github.com/sidz/phpmnd/blob/master/src/Printer/Xml.php

unfortunately didn't have a chance to release a new version yet.

[2021-09-24 08:04] povils commented on #122
Hey! I added 3 more collaborators! :) @sidz @exussum12 @kubawerlos  thank you so much  for helping on this

[2021-09-24 08:06] #128 closed

[2021-09-24 08:13] sidz commented on #122
@povils thank you for your trust. I'll try to backport all changes which I made in my fork into this repository as soon as possible (next week I think)

[2021-09-24 08:29] #99 closed

[2021-09-24 08:30] exussum12 commented on #96
Has this been resolved ?

[2021-09-24 16:39] exussum12 opened #136 "New phpunit schema"
Just a reminder, we need to update the xml file at some point, that will remove support for older phpunit versions (and therefore older php versions)

[2021-09-24 16:54] exussum12 commented on #122
This issue seems to be resolved now then. So closing

p.s. Thanks @povils for the trust :)

[2021-09-24 16:54] #122 closed

[2021-09-24 16:59] exussum12 commented on #106
I have added a the alias 2.5-dev for now, I think we should wait for @sidz changes to be backported for the official 2.5 release (unless there is a breaking change ? - What's your thoughts @sidz )

[2021-09-24 17:03] exussum12 commented on #96
Closing  - please reopen if this is an issue

[2021-09-24 17:03] #96 closed

[2021-09-28 21:25] exussum12 opened #140 "Option to disable the highlighter"
Running on large files is quite slow, about 50% of the time is taken highlighting the code.

Total of Magic Numbers: 8
Time: 00:01.485, Memory: 94.01 MB

And commenting https://github.com/povils/phpmnd/blob/master/src/Printer/Console.php#L38-L41

takes it to

Total of Magic Numbers: 8
Time: 00:00.755, Memory: 56.00 MB

Anyone got an opinion on the formatting ? It highlights php code in general, if

[2021-09-29 20:38] sidz commented on #106
yeah lets wait a bit. I've already started to move my changes to this repo.

[2021-11-19 12:44] FlorentTorregrosa opened #147 "Ignore line or array specific key declation"
Hello,

First, thanks for the tool!

I have added it to my development stack, and use it against Drupal contrib modules that I maintain.

Is there a way to ignore a specific line with a comment? Like PHPStan, PHPCS, etc. do.

And is there a way to ignore numbers in keyed array for specific keys?

Because in Drupal, forms are declared with arrays and I think it would be an overburden to have to dec

[2021-11-19 14:18] sidz commented on #147
Hi @FlorentTorregrosa

Nope it is not possible to ignore a specific line of code in this moment.

[2021-11-19 15:17] FlorentTorregrosa commented on #147
Hi @sidz,

Thanks for the quick reply. Ok, so I didn't miss something :)

[2021-11-21 22:20] exussum12 commented on #147
You can ignore every instance by using intval(10) instead of just 10. It's not ideal as you wouldn't know by looking at intval(10) that it's used to ignore a check for phpmnd.

Sounds a good feature request though :)

[2021-11-22 08:27] FlorentTorregrosa commented on #147
Yes and also it adds unneeded function calls.

I also tried to use string, the Drupal form API is enough permissive to do that, but I don't want to do that too. Typing is more and more enforced and changing the values type just to satisfy a code quality tool is a non-sense in my opinion.

Thanks for your feedback :)

[2021-11-22 08:31] exussum12 commented on #147
Yeah agreed. I think the same about comments to ignore lines tbh. The array key whitelist is not a bad idea.

There is also a check in phpmnd for numeric strings which is good to enable as well. Which stops just hiding numbers by converting to a string

[2021-12-01 11:10] povils commented on #147
I like the feature to ignore specific array keys :)  I see how it could be useful

[2021-12-10 23:48] exussum12 opened #148 "Support github action output format"
https://docs.github.com/en/actions/learn-github-actions/workflow-commands-for-github-actions#setting-an-error-message

This will leave comments inline with the offending code, the output option can be used then

[2021-12-12 21:31] sidz commented on #106
finalyy released https://github.com/povils/phpmnd/releases/tag/v2.5.0

FYI @vpassapera

[2021-12-12 21:31] #106 closed

[2022-02-01 08:31] a-menshchikov opened #153 "Add ncurses dependency or test tput availability"
When run phpmnd in an alpine container without ncurses I get an error `sh: tput: not found`.

[2022-02-05 14:56] exussum12 commented on #153
Does phpmnd stop working or just emit that as a warning ? Have you got a container you were working with ?

[2022-02-05 15:42] a-menshchikov commented on #153
Just print a warning in terminal.
Now I can't take you a container at the moment, but you can test this issue on any `php:*-cli-alpine` image (or any other that has no ncurses installed).

[2022-02-05 15:43] exussum12 commented on #153
I will at silencing that warning, as there is code to handle it not working. Thanks!

[2022-03-10 16:53] kukukk opened #157 "New release"
Could you, please, release a new version with symfony 6 support?

[2022-03-10 18:09] sidz commented on #157
we would like to merge https://github.com/povils/phpmnd/pull/151 first. So we are a bit blocked.

[2022-03-21 20:01] #114 closed

[2022-05-04 12:31] siemendev commented on #100
+1 please consider releasing a single phar file without external depedencies that can be registered here:
https://github.com/phar-io/phar.io/blob/master/data/repositories.xml

[2022-05-04 12:50] siemendev opened #158 "tput binary not found in alpine based images"
Hi folks,
when using a alpine based docker image, there is no executable "tput" available, which results in the following output:
[code]

Here's the use: app/vendor/povils/phpmnd/src/Printer/Console.php:28
Even though there's a fallback, you may be able to work around that issue using Symfony\Component\Console\Application::getTerminalWidth() from symfony/console:
https://symfony.com/blog/new-in-sy

[2022-05-04 21:24] sidz commented on #158
Unfortunately we can't use as this method as it has been removed since 4.0 (proof https://github.com/symfony/console/blob/5.4/CHANGELOG.md#400)

Btw `tput` usage has been removed in the current master branch.

[2022-05-04 21:25] sidz commented on #158
duplicates https://github.com/povils/phpmnd/issues/153

[2022-05-04 21:25] #158 closed

[2022-07-02 18:21] oallain commented on #157
PR #161 now has 2 checks, I think a new tag will appear asap :)

[2022-07-02 19:17] sidz commented on #157
Will do in the middle of the next week.

сб, 2 июл. 2022 г., 21:21 oallain ***@***.***>:

[2022-07-06 18:15] sidz commented on #157
Done

[2022-07-06 18:15] #157 closed

[2022-07-06 18:16] sidz commented on #153
Fixed in 3.0

[2022-07-10 11:50] MGatner commented on #147
I would love to add this tool to my default workflow but it runs against 30+ projects and being able to "exempt" individual lines would be absolutely crucial. The array keys bit is not a deal-breaker for me, especially since you could always do this:
[code]
***
I would like to put forth a bounty on the line exemption comment feature - anyone willing to match? @exussum12 Can you provide a fair amou

[2022-07-10 11:53] MGatner commented on #148
This would be a helpful feature to have. Not sure if this would be helpful or not, but I reckoned this to another project and here is the implementation: https://github.com/composer-unused/composer-unused/pull/280

[2022-07-10 11:56] MGatner commented on #52
Also keen on this feature! It really helps when templating across multiple repos.

[2022-08-18 08:52] leonardfischer opened #162 "Version 3.0 still renders version 2.5"
Hello,

when running version 3.0 of the magic number detection it still runs with this output

[code]

https://github.com/povils/phpmnd/blob/24d250936880ef803ed7a4c4559331e1641ba4e1/src/Console/Application.php#L17

[2022-08-18 19:21] sidz commented on #162
Thanks for report this issue. But I can't do anything due to lack of reviewers.

TBH I decided to write a couple phpstan rules instead of using phpmnd.

p.s. I'm happy to create PR in case anybody review them :)

[2022-08-18 20:42] maks-rafalko commented on #162
Please, make sure to share them if they will be finished one day ;)

[2022-08-18 20:43] maks-rafalko commented on #162
@exussum12 could you please help here?

[2022-08-18 20:46] exussum12 commented on #162
Added a PR if you could approve @sidz  https://github.com/povils/phpmnd/pull/163

[2022-08-18 20:56] sidz commented on #162
it would be nice to update CHANGELOG.md. Unfortunately I don't have access to do it in master so it is possible only within new PR

[2022-08-18 21:01] exussum12 commented on #162
Added the changelog to the PR too

[2022-08-19 09:20] leonardfischer commented on #162
Thank you for looking into this :) It was quite confusing when reading logs from our CI server

[2022-08-19 09:52] sidz commented on #162
released https://github.com/povils/phpmnd/releases/tag/v3.0.1

thanks @leonardfischer

[2022-08-19 09:52] #162 closed

[2022-09-21 12:53] vic131 opened #164 "How to define the most strict configuration possible for phpmnd ?"
I’m collaborating in a opensource project :

https://bitbucket.org/AliasAPI/damnp/src/master/etc/phpmnd/run_phpmnd.sh

And i am finding trouble configuring phpmnd  in the most sensitive way possible, so it would detected every generally undesired line of code. If anyone has any tips, it would be very welcome.

[2022-09-21 14:05] exussum12 commented on #164
phpmnd directory --extensions=all  --include-numeric-string

is how I run it give that a go :)